################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ShopMonolitica.Web/.vs/ShopMonolitica.Web/FileContentIndex/0064e63c-9c49-49c7-b760-d97284d78117.vsidx
/ShopMonolitica.Web/.vs/ShopMonolitica.Web/FileContentIndex
