@model ShopMonolitica.Web.Data.Models.Orders.OrdersSaveModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empid" class="control-label"></label>
                <input asp-for="empid" class="form-control" />
                <span asp-validation-for="empid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="custid" class="control-label"></label>
                <input asp-for="custid" class="form-control" />
                <span asp-validation-for="custid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipperid" class="control-label"></label>
                <input asp-for="shipperid" class="form-control" />
                <span asp-validation-for="shipperid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderdate" class="control-label"></label>
                <input asp-for="orderdate" class="form-control" />
                <span asp-validation-for="orderdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="requireddate" class="control-label"></label>
                <input asp-for="requireddate" class="form-control" />
                <span asp-validation-for="requireddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shippeddate" class="control-label"></label>
                <input asp-for="shippeddate" class="form-control" />
                <span asp-validation-for="shippeddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="freight" class="control-label"></label>
                <input asp-for="freight" class="form-control" />
                <span asp-validation-for="freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipname" class="control-label"></label>
                <input asp-for="shipname" class="form-control" />
                <span asp-validation-for="shipname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipaddress" class="control-label"></label>
                <input asp-for="shipaddress" class="form-control" />
                <span asp-validation-for="shipaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipcity" class="control-label"></label>
                <input asp-for="shipcity" class="form-control" />
                <span asp-validation-for="shipcity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipregion" class="control-label"></label>
                <input asp-for="shipregion" class="form-control" />
                <span asp-validation-for="shipregion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shippostalcode" class="control-label"></label>
                <input asp-for="shippostalcode" class="form-control" />
                <span asp-validation-for="shippostalcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipcountry" class="control-label"></label>
                <input asp-for="shipcountry" class="form-control" />
                <span asp-validation-for="shipcountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
