@model ShopMonolitica.Web.Data.Models.Scores.ScoresGetModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ScoresUpdateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="hidden" asp-for="studentid" class="form-control" />
                <span asp-validation-for="studentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="testid" class="control-label"></label>
                <input asp-for="testid" class="form-control" />
                <span asp-validation-for="testid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score" class="control-label"></label>
                <input asp-for="score" class="form-control" />
                <span asp-validation-for="score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
