@model IEnumerable<ShopMonolitica.Web.Data.Models.Scores.ScoresGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.studentid  }) |
                    @Html.ActionLink("Details", "Details", new { id = item.studentid }) |
            </td>
        </tr>
}
    </tbody>
</table>
